<!DOCTYPE html>
<html lang="en">
<head>
    <title>something about me</title>
    <meta charset="utf-8">
    <style>
        * {
            font-size: 24pt;
            margin: 5%;
        }

        td {
            border-top: 1px solid #1982e4;
            border-bottom: 2px dotted #4895f5;
            padding: 3px 0;
        }

        .red {
            color: red;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th colspan="2" style="text-align: center; font-size: 40pt">something about me</th>
            <caption><span class="red">&hearts;</span> married & father <span class="red">&hearts;</span></caption>
        </tr>
        <tr>
            <td><a href="http://dabzse.net" target="_blank">home page</a></td>
            <td>written in/with: HTML5/CSS3/PHP/MySQL|MariaDB</td>
        </tr>
        <tr>
            <td><a href="https://dabzse-cv.herokuapp.com" target="_blank">"CV" extension</a></td>
            <td>written in/with: python-django, uses SQLite</td>
        </tr>
        <tr>
            <td><a href="https://linkedin.com/in/dabzse" target="_blank">LinkedIn</a></td>
            <td>only sometimes I'm using it</td>
        </tr>
        <tr>
            <td><a href="https://dabzse.github.io" target="_blank">GitHub pages</a></td>
            <td>work in progress for this "portfolio"-like page</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center">if you would like to contact me, do it</td>
        </tr>
    </table>
    <p>when I uploaded the initial release of this repository, just turned 40</p>
    I know, it's a bit ugly, but for now is pretty enough.<br>
    this is just a FastAPI presentation for my portfolio (because of the university).<br>
    excuse me for my English. unfortunately it's not perfect.
</body>
</html>
